* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 75%;
  box-sizing: border-box;
}

body {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    color: #F9F7C9;
    background-color: #334e6a;
}

/* LAYOUT */

main {
  margin-top: 15%;
}

.top {
  display: flex; 
  margin: 25px auto;
  width: 55rem;
}

.bottom {
  margin: 0 auto;
  text-align: center;
  width: 52rem;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0 auto;
}

.number {
  background: #F0EDCF;
  color: #593a3a;
  border-radius: 15px;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: relative;
  margin: 50px auto 25px auto;
}

.between {
  text-align: center;
  font-size: 1.4rem;
  width: 50%;
  margin: 0 auto;
}

.reset {
  display: flex;  
}

input::-webkit-inner-spin-button {
  display: none;
}

.guess {
  background: #fff;
  margin: 0 auto;
  border: 1px solid #F0EDCF;
  border-radius: 5px;
  font-family: inherit;
  color: #232323;
  font-size: 2rem;
  padding: 1rem;
  width: 25rem;
  text-align: center;
}

.btn {
  border: none;
  background-color: #F9F7C9;
  border-radius: 15px;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #D5F0C1;
}

.btn:active {
  transform: translateY(2px);
}

.message {
  font-size: 1.5em;
  margin-bottom: 2rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

nav {
  display: flex;
  margin: 25px auto;
  top: 100;
  width: 50%;
  overflow: auto;
  height: auto;
}

a {
  text-decoration: none;
  margin: 15px;
  font-size: 2rem;
  color: #F9F7C9;
}

.left-links{
  flex:1 1 200px;
}

/*modal stuff*/
.hidden {
  display: none;
}

.modal h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #282828;
}

.modal p {
  font-size: 1.8rem;
  color: #282828;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  z-index: 5;
}