* {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px;
}

p {
    padding: 5px;
    margin: 5px;
}

.dice-game-section {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    border: 1px solid #282828;
    width: 175px;
    height: auto;
}
.dice-numbers {
    border-bottom: 1px solid #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btn {
    width: 100%;
    border: none;
    border-top: 1px solid #282828;
    background-color: #ffb700;
    font-size: 1.5rem;
    color: #0e7cc1
}

#dice-1-result {
    font-size: 2rem;
    padding: 10px;
    margin: 0;
}
#dice-2-result {
    font-size: 2rem;
    padding: 10px;
    margin: 0;
}